# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
*.log
.env
.venv/
venv/
*.sqlite3

# IDEs (PyCharm, VSCode etc.)
.idea/
.vscode/
*.swp

# Created by https://www.toptal.com/developers/gitignore/api/hugo
# Edit at https://www.toptal.com/developers/gitignore?templates=hugo

# End of https://www.toptal.com/developers/gitignore/api/hugo

# Avoid committing generated calendar files
/public/ical/*.ics
/resources/_gen

# Keep the directory itself
!public/ical/.gitkeep
/node_modules/
/dist/
